.div-form {
    margin: 10px 5px;
}

.input-reg {
    height: 2.1rem;
    line-height: 2rem;
    width: 300px;
    font-size: 1rem;
    padding: 0px 5px;
}

.label-form {
display: inline-block;
    margin-bottom: 5px;
}
.textarea{
    line-height: 1.3rem;
    width: 300px;
    font-size: 1rem;
    padding: 5px 5px
}

.form-error {
    color:#fd6620;
    font-weight: bold;
    margin: 10px;
}
.form-info {
    color: #509e2f;
    font-weight: bold;
    margin: 10px;
}
.error-on{
    margin: 0px 0px 10px 15px;
    font-size: .8em;
    color: #fd6620;
}