<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments.html :: page-header}"></th:block>

    <th:block th:each="gun : ${gunList}">
        <div>
            <div th:text="${gun.commonName}"></div>
            <div th:text="${gun.type}"></div>
            <div th:text="${gun.gauge}"></div>
        </div>
    </th:block>
</div>
</body>
</html>