<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments.html :: page-header}"></th:block>
    <th:block
            th:replace="~{fragments.html :: ammo-manage-menu}">
    </th:block>
    <th:block
            th:replace="~{fragments.html :: ammo-manage-header}">
    </th:block>

    <form method="post" th:object="${ammoModel}">
        <div class="div-form">
            <label for="gauge" class="label-form">Kaliber</label><br>
            <input type="text" class="input-reg" id="gauge" th:field="*{gauge}">
        </div>
        <div id="gauge-error"></div>
        <th:block th:switch="${state}">
            <input type="submit" th:case="add" value="Dodaj" class="button">
            <input type="submit" th:case="edit" value="Aktualizuj" class="button">
        </th:block>
        <div th:text="${formInfo}" class="form-info"></div>
        <div th:text="${formError}" class="form-error"></div>
    </form>
</div>
</body>
</html>