<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <h1>Arsenal Page</h1>

    <th:block
            th:replace="~{fragments.html :: main-menu}">
    </th:block>

    <th:block th:each="gun : ${gunList}">
        <div>
            <div>
                <span th:text="${gun.commonName}"></span> |
                <span th:text="${gun.type}"></span> | Kaliber:
                <span th:text="${gun.gauge}"></span>
            </div>
            <div th:text="${gun.description}"></div>
            <br>
        </div>
    </th:block>
</div>
</body>
</html>