<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments.html :: page-header}"></th:block>

    <h4>Zapoznaj się z naszym arsenałem</h4>

    <th:block th:each="gun : ${gunList}">
        <div>
            <div class="gun-info">
                <span th:text="${gun.commonName}"></span> |
                <span th:text="${gun.type}"></span> | Kaliber:
                <span th:text="${gun.gauge}"></span>
            </div>
            <div th:text="${gun.description}" class="gun-description"></div>
        </div>
    </th:block>
</div>
</body>
</html>