<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <h1>Rezerwacje</h1>

    <th:block
            th:replace="~{fragments.html :: main-menu}">
    </th:block>

    <h4 th:if="${state == 'manage'}">Zarządzaj rezerwacjami</h4>
    <h4 th:if="${state == 'myReservations'}">Moje rezerwacje</h4>
    <div th:text="${formInfo}" class=""></div>
    <div th:text="${formError}" class=""></div>

    <div th:if="${reservationMap.size() == 0}">Brak rezerwacji</div>
    <div th:if="${reservationMap.size() > 0}">
        <div th:each="localDate : ${reservationMap.keySet()}">
            <div th:text="${localDate}" class="div-date">Date</div>
            <div th:each="reservation : ${reservationMap.get(localDate)}" class="div-reservation">
                <div th:text="${reservation.reservationTime}">Hour</div>
                <div th:if="${state == 'manage'}">
                    <a th:href="@{/booking/manage/{id}(id=${reservation.id})}" class="button">Szczegóły</a>
                </div>
                <div th:if="${state == 'myReservations'}">
                    <a th:href="@{/booking/my-reservations/{id}(id=${reservation.id})}" class="button">Szczegóły</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>