<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <h1>Rezerwacje</h1>

    <th:block
            th:replace="~{fragments.html :: main-menu}">
    </th:block>

    <h4>Zarządzaj rezerwacją</h4>
    <form method="post">
        <div class="div-reservation">
            <div th:text="${reservation.reservationDate}"></div>
            <div th:text="${reservation.reservationTime}"></div>
            <div th:text="${reservation.user.name}"></div>
            <div th:text="${reservation.user.surname}"></div>
            <div th:if="${state == 'add'}">
                <input type="hidden" th:field="${reservation.reservationDate}">
                <input type="hidden" th:field="${reservation.reservationTime}">
                <input type="submit" value="Potwierdź" class="button">
            </div>
            <div th:if="${state == 'manage'}"><a th:href="@{/booking/manage/{id}/delete(id=${reservation.id})}"
                                                 class="button">Usuń</a>
            </div>
            <div th:if="${state == 'myReservations'}"><a
                    th:href="@{/booking/my-reservations/{id}/delete(id=${reservation.id})}" class="button">Usuń</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>