<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
</head>
<body>
<div class="wrapper">
    <h1>Zmień hasło</h1>

    <th:block
            th:replace="~{fragments.html :: main-menu}">
    </th:block>

    <div th:text="${formInfo}" class="form-info"></div>
    <div th:text="${formError}" class="form-error"></div>

    <form method="post">
        <div class="div-form">
            <label for="old-password" class="label-form">Stare hasło</label><br>
            <input type="password" id="old-password" class="input-reg" th:field="*{changePassModel.oldPass}">
        </div>

        <div class="div-form">
            <label for="new-password" class="label-form">Nowe hasło</label><br>
            <input type="password" id="new-password" class="input-reg" th:field="*{changePassModel.newPass}">
        </div>

        <div class="div-form">
            <label for="new-password2" class="label-form">Powtóz hasło</label><br>
            <input type="password" id="new-password2" class="input-reg" th:field="*{changePassModel.newPassRepeat}">
        </div>

        <input type="submit" value="Zmień hasło" class="button">
    </form>
</div>
</body>
</html>