<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: head-meta}"></th:block>
<body>
<div class="wrapper">
    <h1>Kontakt</h1>

    <th:block
            th:replace="~{fragments.html :: main-menu}">
    </th:block>

    <h4>Zapraszamy do kontaktu</h4>

    <div>
        <p>ul. Trzecia 6<br>
            33-666 Trzecistan</p>
        <p>tel.: +48-333-666-999</p>
        <p>e-mail: kontakt@srm.pl</p>
    </div>
</div>
</body>
</html>