<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<th:block th:fragment="main-menu">
    <nav class="menu">
        <ul class="">
            <li><a href="/" class="">Strona główna</a></li>
            <li><a href="/booking" class="">Rezerwacja</a></li>
            <li><a href="/arsenal" class="">Arsenał</a></li>
            <li><a href="/contact" class="">Kontakt</a></li>
            <li th:if="${!logged}"><a href="/users/register" class="">Rejestracja</a></li>
            <li th:if="${!logged}"><a href="/login" class="">Zaloguj</a></li>
            <li th:if="${logged}"><a th:href="@{/users/manage/edit/{id}(id=${user.id})}" class="">Moje dane</a></li>
            <li th:if="${logged}"><a th:href="@{/booking/my-reservations}" class="">Moje rezerwacje</a></li>
            <li th:if="${logged}"><a href="/logout" class="">Wyloguj</a></li>
        </ul>
    </nav>
    <div th:if="${logged}">Zalogowany użytkownik: <span th:text="${user.login}"></span></div>
    <nav th:if="${adminOrEmployee}" class="menu-admin">
        <ul class="">
            <li><a href="/stock" class="">Magazyn Broni</a></li>
            <li><a href="/guns/manage/release" class="">Broń</a></li>
            <li><a href="/ammo/manage/get" class="">Amunicja</a></li>
            <li><a href="/booking/manage" class="">Rezerwacje</a></li>
            <li th:if="${adminOrEmployee}"><a href="/users" class="">Użytkownicy</a></li>
        </ul>
    </nav>
</th:block>

<th:block th:fragment="gun-manage-menu">
    <div th:if="${admin}">
        Jednostka broni:
        <a href="/guns/manage/edit">Edytuj</a>
        <a href="/guns/manage/add">Dodaj</a>
    </div>
    <div>
        Broń:
        <a href="/guns/manage/release">Wydaj</a>
        <a href="/guns/manage/take">Przyjmij</a>
    </div>
</th:block>

<th:block th:fragment="ammo-manage-menu">
    <div th:if="${admin}">
        Kaliber:
        <a href="/ammo/manage/edit">Edytuj</a>
        <a href="/ammo/manage/add">Dodaj</a>
    </div>
    <div>
        Amunicja:
        <a href="/ammo/manage/get">Wydaj</a>
        <a href="/ammo/manage/supply">Uzupełnij</a>
        <!--<a>Zwróć</a>-->
    </div>
</th:block>

<th:block th:fragment="gun-manage-header">
    <h4 th:switch="${state}">
        <span th:case="release">Wydawanie broni</span>
        <span th:case="take">Przyjmowanie broni</span>
        <span th:case="edit">Edytowanie broni</span>
        <span th:case="add">Dodawanie nowej broni</span>
        <span th:case="*">Stan magazynowy broni</span>
    </h4>
</th:block>

<th:block th:fragment="ammo-manage-header">
    <h4 th:switch="${state}">
        <span th:case="get">Wydawanie amunicji</span>
        <span th:case="supply">Uzupełnianie stanu amunicji</span>
        <span th:case="edit">Edytowanie amunicji</span>
        <span th:case="add">Dodawanie nowego kalibru</span>
        <span th:case="*">Stan magazynowy amunicji</span>
    </h4>
</th:block>
</body>
</html>