<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>

<th:block
        th:replace="~{fragments.html :: main-menu}">
</th:block>


<form method="post">
    <fieldset>
        <legend>Login</legend>
        <input type="text" name="login" id="login" class="">
    </fieldset>
    <fieldset class="">
        <legend>Hasło</legend>
        <input type="password" name="password" id="password" class="">
    </fieldset>
    <input type="submit" value="Zaloguj" class="">
    <a href="/register">Zarejestruj</a>
</form>
</body>
</html>